* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* Login Page Background */
.login-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.30),
            rgba(0, 0, 0, 0.30)
        ),
        url("../images/Lockbg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Login Box */
.login-box {
    background: rgba(255, 255, 255, 0.96);

    padding: 40px;
    width: 400px;

    border-radius: 10px;

    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.2);
}

.login-box h1 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    background: #2563eb;
    color: white;

    border-radius: 5px;
    cursor: pointer;

    font-size: 15px;
}

button:hover {
    opacity: 0.9;
}